*.py[cod]

# doc builds
docs/_build/*
docs/_build/*/*
docs/_build/*/*/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea/*
mpworks/legacy/actions/*.yaml
mpworks/fix_scripts/*.yaml
gulptmp_4_1

octave-core

mpworks/.idea/encodings.xml

mpworks/.idea/misc.xml

mpworks/.idea/modules.xml

mpworks/.idea/mpworks.iml

mpworks/.idea/scopes/scope_settings.xml

mpworks/.idea/vcs.xml

mpworks/.idea/workspace.xml
